:root {
  --blackish: #333;
  --blueish: #496a81;
  --pinkish: #fbbfca;
  --red: #a23e48;
  --bronze: #d58936;
  --limish: #f2f3ae;
  --whitish: #f4fff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

#navbar {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  font-size: 1.2rem;
  padding: 0 9vw;
  /* transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#navbar a,
.cta,
.social a {
  text-decoration: none;
  color: var(--whitish);
}

.logo {
  font-family: "Montserrat", sans-serif;
  border: 2.5px solid var(--whitish);
  padding: 3.3px;
  font-weight: 700;
}

#navbar div {
  width: 60vw;
  text-align: right;
}

#navbar div a {
  padding: 0 1vw 0.3rem;
}

#navbar div a:nth-child(3) {
  padding-right: 0;
}

#navbar div a:hover {
  border-bottom: 1px solid var(--whitish);
  transition: all 0.3s ease 0s;
}

#welcome-section {
  height: 100vh;
  background: url("https://images.pexels.com/photos/3184460/pexels-photo-3184460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center;
  background-size: cover;
  text-align: right;
}

#welcome-section h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

#welcome-section h3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  padding-top: 1vh;
}

#welcome-section div {
  padding-top: 20%;
  padding-right: 9vw;
  color: var(--blackish);
}

.cta {
  display: inline-block;
  background-color: var(--blueish);
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

#projects {
  background-color: var(--whitish);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

#projects h2 {
  font-size: 2rem;
}

.project-grid {
  padding: 3rem 9vw 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4rem;
  grid-template-columns: repeat(3, 300px);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px; */
  /* grid-auto-flow: dense; */
}

.project-grid img:first-child {
  background-color: var(--whitish);
}

.project-grid img {
  width: 100%;
  height: 100%;
}

.project-tile {
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 8px 8px 25px 2px rgb(128 128 128 / 33%);
}

.inside {
  background-color: var(--blackish);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.inside a i,
.inside p {
  color: var(--whitish);
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.inside a .codepen,
.inside a .github {
  top: 60%;
}

.inside a .codepen {
  left: 40%;
}

.inside a .github {
  left: 60%;
}

.inside p {
  top: 30%;
  left: 50%;
}

div .project-tile:hover .inside {
  opacity: 0.9;
}

#contact-section {
  background-color: var(--blackish);
  color: var(--whitish);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 2rem 0;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.social a i {
  font-size: 1.5rem;
  border: 1px solid var(--whitish);
  border-radius: 50%;
}

.i-facebook {
  padding: 1rem 1.3rem;
}

.i-instagram,
.i-linkedin {
  padding: 1rem 1.1rem;
}

.i-twitter,
.i-github {
  padding: 1rem;
}

.social a i:hover {
  background-color: var(--whitish);
  color: var(--blackish);
  transition: all 0.3s ease 0s;
}

/* Media queries */

@media only screen and (min-width: 1900px) {
  #navbar {
    max-height: 6vh;
  }

  .logo {
    border: 0.16rem solid var(--whitish);
    padding: 0.21rem;
  }

  #contact-section {
    max-height: 30vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .project-grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  #welcome-section {
    padding: 9rem 0;
  }

  #contact-section {
    max-height: 25vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .project-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }

  #welcome-section {
    text-align: center;
    padding: 9rem 9vw;
  }

  #welcome-section div {
    max-width: 100%;
    padding-right: 0;
  }

  .social {
    max-width: 468px;
  }

  #contact-section {
    max-height: 30vh;
  }
}

@media only screen and (max-width: 480px) {
  #navbar {
    padding: 0 3vw;
  }

  #navbar div {
    width: 70vw;
  }

  .project-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 3vw 3rem;
  }

  #welcome-section {
    text-align: center;
    padding: 9rem 0;
  }

  #welcome-section div {
    max-width: 100%;
    padding: 0 3vw;
    margin: 0;
  }

  .social {
    max-width: 100%;
    padding: 0 3vw;
  }

  #contact-section p {
    text-align: center;
    max-width: 90%;
  }

  #contact-section {
    max-height: 50vh;
  }
}
